
/* lobby */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden; 
    background-color: black;
    font-family: 'Inter', sans-serif;
  }

.lobby {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }

body.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease;
}

body {
  opacity: 1;
  transition: opacity 0.7s ease;
}

      
.dots {
    position: absolute;
    top: 14.5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    height: auto;
    z-index: 100;
}
.dots img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.navigation-bar {
    position: relative;
    max-width: 60vw;
    width: 100%;
    height: 12%;
    top: 2vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 100;
}

.nav-graph {
    position: absolute;
    top: 0.2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 14vw; 
}

.nav-graph img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 44vw; 
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.merch, .game, .cart {
    position: absolute;
    font-size: 1vw;
    color: #888888;
    text-align: left;
    font-weight: 700;
    z-index: 100;
    white-space: nowrap;
}

.merch {
    top: 0vw;
    left: 35%;
    transform: translateX(-50%);
    text-decoration: none;   
    transition: color 0.2s ease;
    cursor: pointer;
}

.merch:hover {
  color: #fff;             
}

.merch:active {
  color: #fff;               
}

.game {
    top: 0vw;
    left: 65%;
    transform: translateX(-50%);
    text-decoration: none;   
    transition: color 0.2s ease;
    cursor: pointer;
}
.game:hover {
  color: #fff;             
}

.game:active {
  color: #fff;               
}

.cart {
    top: 7vw;
    left: 50%;
    transform: translateX(-50%);
}

.pofp {
    position: absolute;
    top: 12vw;
    left: 6.6%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100;
}
.year {
    position: absolute;
    top: 12vw;
    left: 96%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}
.text-block {
    position: absolute;
    top: 22vw;
    left: 7%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100;
}
.nav-era-container {
    position: relative;
    max-width: 9vw;
    width: 100%;
    height: 25%;
    left: 2%;
    top: 25vw;
    color: #ffffff;
    z-index: 100;
}
.nav-era {
    position: absolute;
    top: 2vw;
    left: 0;
    z-index: 100;
    width: 7.3vw; 
}
.nav-era img {
    width: 100%;
    height: auto;
    display: block;
}

.era-1 {
    position: absolute;
    top: 0vw;
    left: 6%;
    transform: translateX(-50%);
    font-size: 0.9em;
    color: #ffffff;
    text-align: left;
    font-weight: 500; 
    z-index: 100;
}
.era-2 {
    position: absolute;
    top: 8.6vw;
    left: 98%;
    transform: translateX(-50%);
    font-size: 0.9em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100;
}
.era-3 {
    position: absolute;
    top: 17vw;
    left: 6%;
    transform: translateX(-50%);
    font-size: 0.9em;
    color: #ffffff;
    text-align: left;
    font-weight: 500; 
    z-index: 100;
}

.person {
    position: fixed;
    width: 100%;
    height: 60vw;
    bottom: 0;
    left: 0%;
    z-index: 1;
  }
  
  .person img {
    position: relative;
    width: 100%;
    height: 60vw;
  }

/* game */

  .game-screen {
   background-color: #000;
   color: #fff;
   min-height: 100vh;
}

body.game-page .game {
  color: white;
  text-decoration: none;
}
.inicialisation {
    position: absolute;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}
.dot {
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
}

.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}
.pofp-low {
  position: absolute;
  bottom: 2vw;
  left: 8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}
.year-low {
  position: absolute;
  bottom: 2vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}
.circle-composition {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 65vh;
  /* background-color: rgba(255, 255, 255, 0.185); */
  z-index: 1;
}

.equalizer-circle {
  position: absolute;
  width: 41vw;
  height: 41vw;
  background-color: transparent;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircle 25s linear infinite;
  transform-origin: center;
}

@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.equalizer-dot {
  position: absolute;
  width: 0.13vw; 
  height: 0.13vw; 
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.circle-back-2 {
  position: absolute;
  width: 42vw;
  height: 42vw;
  z-index: 500; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 25s linear infinite;
}

.circle-back-2 img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
}

.circle-back-1 {
  position: absolute;
  width: 55vw; 
  height: 55vw;
  z-index: 250; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinBack 25s linear infinite; 
}

.circle-back-1 img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: block;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinBack {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1.1); 
    opacity: 0.5; 
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) scale(1);
    opacity: 1;
  }
}

.circle-back-3 {
  position: absolute;
  width: 32vw; 
  height: 32vw;
  z-index: 100; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  animation: spinBack3 25s linear infinite; }

.circle-back-3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain; 
}
@keyframes spinBack3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg) scale(0.95);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) scale(1);
    
  }
}
.circle-back-center {
  position: absolute;
  width: 32vw;
  height: 32vw;
  z-index: 50; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter 10s linear infinite;
}
.circle-back-center img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

@keyframes spincenter {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.1);
    }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(0.9); opacity: 0.9;
     }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.1);
    }
}
.circle-back-center-1 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  z-index: 30; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter-1 10s linear infinite;
}
.circle-back-center-1 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
@keyframes spincenter-1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
     }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    }
}
.equalizer-circle-inner {
  position: absolute;
  width: 19.5vw; 
  height: 19.5vw;
  background-color: transparent;
  z-index: 750; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleInner 20s linear infinite reverse; 
  transform-origin: center;
}

@keyframes rotateCircleInner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.equalizer-circle-middle {
  position: absolute;
  width: 29vw;
  height: 29vw;
  background-color: transparent;
  z-index: 550; 
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleMiddle 25s linear infinite; 
  transform-origin: center;
}

@keyframes rotateCircleMiddle {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}
.circle-back-center-2 {
  position: absolute;
  width: 18.5vw;
  height: 18.5vw;
  z-index: 20; 
  top: 50%;
  left: 50%;
  opacity: 0.9;
  transform: translate(-50%, -50%) rotate(-90deg);
  animation: spincenter-1 10s linear infinite;
}

.circle-sun {
  position: absolute;
  width: 26vw;
  height: 26vw;
  z-index: 600; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  animation: rotateCircleInner 20s linear infinite reverse;
}
.circle-sun img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.vectors-1 {
  position: absolute;
  width: 62vw;
  height: 62vw;
  z-index: 680; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out;
}
.vectors-1 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.vectors-2 {
  position: absolute;
  width: 62vw;
  height: 62vw;
  z-index: 690; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out 1s; 
}
.vectors-2 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.vectors-3 {
  position: absolute;
  width: 62vw;
  height: 62vw;
  z-index: 700; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out 3s; 
}
.vectors-3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}

.macos-vector {
  position: absolute;
  width: 58vw;
  height: 58vw;
  z-index: 800; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-macos 1.25s step-end forwards; 
  opacity: 0; 
}
.macos-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.steam-vector {
  position: absolute;
  width: 58vw;
  height: 58vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-steam 1.25s step-end forwards 1.25s;
  opacity: 0; 
}
.steam-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.linux-vector {
  position: absolute;
  width: 58vw;
  height: 58vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  animation: blink-linux 1.25s step-end forwards 2.5s; 
  opacity: 0; 
}
.linux-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.windows-vector {
  position: absolute;
  width: 58vw;
  height: 58vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-windows 1.25s step-end forwards 3.75s;
  opacity: 0; 
}
.windows-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.macos {
  position: absolute;
  top: -0.6vw;
  left: 20.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.steam {
  position: absolute;
  top: 5.4vw;
  left: 104%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.linux {
  position: absolute;
  top: 44vw;
  left: 97%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;  
}

.windows {
  position: absolute;
  top: 46.8vw;
  left: 4.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

@keyframes blink-macos {
  0% { opacity: 0; } 
  25% { opacity: 1; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
}

@keyframes blink-steam {
  0% { opacity: 0; } 
  25% { opacity: 1; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
}

@keyframes blink-linux {
  0% { opacity: 0; } 
  25% { opacity: 1; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
}

@keyframes blink-windows {
  0% { opacity: 0; } 
  25% { opacity: 1; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
}

/* merch */

.merch-screen {
 background-color: #000;
   color: #fff;
   min-height: 100vh;
   overflow: hidden;
}

body.merch-page .merch {
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.number {
  position: absolute;
  top: 12vw;
  left: 3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.amount {
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.store {
  position: absolute;
  top: 12vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.logo-long {
    position: absolute;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 96vw; 
}

.logo-long img {
    width: 100%;
    height: auto;
    display: block;
}

.navigation-bar-merch {
    position: relative;
    max-width: 60vw;
    width: 100%;
    height: 12vh;
    top: 2vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 1;
    animation: slideLeft 2s ease-in-out forwards 1.5s;
}
@keyframes slideLeft {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(-62.5%);
  }
}

.information-protocol {
  position: absolute;
  top: 22vw;
  left: 5.8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.information-nalichie-protocol{
  position: absolute;
  top: 50vw;
  left: 5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.warning {
  position: absolute;
  top: 22vw;
  left: 93.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.object-protocol {
  position: absolute;
  top: 17vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-protocol {
  position: absolute;
  top: 41vw;
  left: 90.4%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.choice-button {
  position: absolute;
  top: 50vw;
  left: 93.5%;
  transform: translateX(-50%);
  z-index: 100;
  width: 10vw; 
}
.choice-button img{
  width: 100%;
  height: auto;
  display: block;
}

.button-right {
  position: absolute;
  top: 39vw;
  left: 73%;
  transform: translateX(-50%);
  z-index: 150;
  width: 1.3vw; 
}
.button-right img{
  width: 100%;
  height: auto;
  display: block;
}
.button-left {
  position: absolute;
  top: 39vw;
  left: 27%;
  transform: translateX(-50%);
  z-index: 150;
  width: 1.3vw; 
}
.button-left img{
  width: 100%;
  height: auto;
  display: block;
}
.comics {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 50vw; 
}
.comics img{
  width: 100%;
  height: auto;
  display: block;
}

.canon {
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translateX(-50%);
  z-index: 90;
  width: 16vw; 
}
.canon img{
  width: 100%;
  height: auto;
  display: block;
}

.envelope {
  position: absolute;
  top: 44%;
  left: 76%;
  transform: translateX(-50%);
  z-index: 90;
  width: 14vw; 
}
.envelope img{
  width: 100%;
  height: auto;
  display: block;
}