/* мобилки */
@media screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {

    .scrollpls {
    position: absolute;
    top: 168vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100;
    animation: pulseOpacity 2.5s ease-in-out infinite;
    animation: pulseglow 2s ease-in-out infinite;
}

  .navigation-bar {
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 12%;
    top: 2.5vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 100;
  }

  .nav-graph {
    position: absolute;
    top: 4vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 45vw;
  }

  .nav-graph img {
    width: 100%;
    height: auto;
    display: block;
  }

  .logo {
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 90vw;
    opacity: 0;
  }

  .logo img {
    width: 100%;
    height: auto;
    display: block;
  }

    .logo-mobile {
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 90vw;
    opacity: 1;
  }

  .logo-mobile img {
    width: 100%;
    height: auto;
    display: block;
  }

  .merch, .game, .cart {
    position: absolute;
    font-size: 3.5vw;
    color: #888888;
    text-align: left;
    font-weight: 700;
    z-index: 100;
    white-space: nowrap;
  }

  .merch {
    top: 3vw;
    left: 20%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
  }

  .game {
    top: 3vw;
    left: 80%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
  }

  .cart {
    top: 26vw;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
  }

  .pofp {
    position: absolute;
    top: 37vw;
    left: 25%;
    opacity: 0;
  }

  .year {
    position: absolute;
    top: 37vw;
    left: 87%;
    opacity: 0;
  }

  .pofp-mobile {
    position: absolute;
    top: 37vw;
    left: 11%;
    opacity: 1;
  }

  .year-mobile {
    position: absolute;
    top: 37vw;
    left: 87%;
    opacity: 1;
  }
  .text-block {
    opacity: 0;
  }

  /* merch */

  .navigation-bar-merch {
    position: relative;
    max-width: 95vw;
    width: 100%;
    height: 30vw;
    top: 2vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 1;
    animation: slideLeft 2s ease-in-out forwards 0.5s;
}
@keyframes slideLeft {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(-0%);
  }
}

.number {
  position: absolute;
  top: 38vw;
  left: 9%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.amount {
  position: absolute;
  top: 38vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.store {
  position: absolute;
  top: 38vw;
  left: 89%;
}
.logo-long {
opacity: 0;
}
.information-protocol {
  position: absolute;
  top: 90vw;
  left: 20%;
  opacity: 0;
}
.information-nalichie-protocol{
  position: absolute;
  top: 130vw;
  left: 79%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.warning {
  font-size: 0.1em;
opacity: 0;
}

.object-protocol {
  position: absolute;
  top: 48vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
}

.price-protocol {
  position: absolute;
  top: 120vw;
  left: 74%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.choice-button {
  position: absolute;
  top: 125vw;
  left: 80%;
  transform: translateX(-50%);
  z-index: 100;
  width: 35vw; 
}
.carousel {
  max-width: 90vw;
  width: 100%;
  height: 55vh;
  top: 30vw;
}

.button-right {
  position: absolute;
  top: 30%;
  left: 89%;
  transform: translateX(-50%);
  z-index: 150;
  width: 4vw; 
}

.button-left {
  position: absolute;
  top: 30%;
  left: 12%;
  transform: translateX(-50%);
  z-index: 150;
  width: 4.5vw; 
}

.position-center {
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


.comics.position-center {
  width: 75vw; 
  top: -1%;
}

.canon.position-center {
  width: 60vw;
  top: -1%;
}

.envelope.position-center {
  width: 60vw; 
  top: -2%;
}
.pofp-low {
  position: absolute;
  bottom: 3vw;
  left: 28%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}
.year-low {
  position: absolute;
  bottom: 3vw;
  left: 87%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}
/* cart  */

.navigation-bar-cart {
    position: relative;
    max-width: 93vw;
    width: 100%;
    height: 12vh;
}
@keyframes slideright {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(0%);
  }
}
.cart-1 {
  position: absolute;
  top: 39vw;
  left: 89%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}
.position {
  position: absolute;
  top: 39vw;
  left: 15%; 
}
.info-text {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}
.product {
  position: absolute;
  top: 60vw;
  left: 59%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size {
  position: absolute;
  top: 65vw;
  left: 60%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece {
  position: absolute;
  top: 70vw;
  left: 56%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price {
  position: absolute;
  top: 75vw;
  left: 58%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}

.product-name {
  position: absolute;
  top: 60vw;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name {
  position: absolute;
  top: 65vw;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name {
  position: absolute;
  top: 70vw;
  left: 74.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name {
  position: absolute;
  top: 75vw;
  left: 79%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.product-2 {
  position: absolute;
  top: 85vw;
  left: 58.9%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size-2 {
  position: absolute;
  top: 90vw;
  left: 60%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece-2 {
  position: absolute;
  top: 95vw;
  left: 56%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price-2 {
  position: absolute;
  top: 100vw;
  left: 58%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}
.product-name-2 {
  position: absolute;
  top: 85vw;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name-2 {
  position: absolute;
  top: 90vw;
  left: 81%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name-2 {
  position: absolute;
  top: 95vw;
  left: 74%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name-2 {
  position: absolute;
  top: 100vw;
  left: 78.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.product-3 {
  position: absolute;
  top: 110vw;
  left: 59%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size-3 {
  position: absolute;
  top: 115vw;
  left: 60%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece-3 {
  position: absolute;
  top: 120vw;
  left: 56%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price-3 {
  position: absolute;
  top: 125vw;
  left: 58%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}
.product-name-3 {
  position: absolute;
  top: 110vw;
  left: 82%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name-3 {
  position: absolute;
  top: 115vw;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name-3 {
  position: absolute;
  top: 120vw;
  left: 75%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name-3 {
  position: absolute;
  top: 125vw;
  left: 79%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.delivery {
  position: absolute;
  top: 140vw;
  left: 63%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.taxes {
  position: absolute;
  top: 145vw;
  left: 61%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.total {
opacity: 0;
}

.product-img {
  position: absolute;
  z-index: 1000;
  width: 35vw;
  top: 32%;
  left: 20%;
  transform: translateX(-50%);

}

.product-2-img {
  position: absolute;
  z-index: 1000;
  width: 23vw;
  top: 45%;
  left: 19%;
  transform: translateX(-50%) rotate(90deg);

}

.product-3-img {
  position: absolute;
  z-index: 1000;
  width: 30vw;
  top: 60%;
  left: 19%;
  transform: translateX(-50%);

}
.product-3-img img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.delivery-amount {
  position: absolute;
  top: 140vw;
  left: 76.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.taxes-amount {
  position: absolute;
  top: 145vw;
  left: 84%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.total-amount {
  position: absolute;
  top: 155vw;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.buy-button {
  position: absolute;
  z-index: 1000;
  width: 30vw;
  top: 86.5%;
  left: 79%;
  transform: translateX(-50%);
  animation: clickScale 0.2s ease-in-out;
}

/* nf */

.nf-img{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  width: 80vw; 
  animation: levitate 3s ease-in-out infinite;
}
.nf-img-2{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  width: 80vw; 
  animation: fadeInOut 3s ease-in-out infinite;
  animation: levitate 3s ease-in-out infinite;
}
.sboy {
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  z-index: 100; 
  animation: pulseglow 2s ease-in-out infinite;
}
.comment {
  position: absolute;
  top: 135vw;
  left: 50%;
  width: 95vw;
  transform: translateX(-50%);
  font-size: 0.6em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  z-index: 100; 
  animation: pulseglow 2s ease-in-out infinite;
}

.gradient {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  width: 0vw; 
}

.cross {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  width: 90vw; 
}

.cross-2 {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  width: 90vw; 
}

/* game */

.circle-composition {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 60vh;
  z-index: 1;
}
.equalizer-circle {
  position: absolute;
  width: 95vw;
  height: 95vw;
}

.circle-back-2 {
  position: absolute;
  width: 42vw;
  height: 42vw;
  z-index: 500; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 25s linear infinite;
}

.circle-back-2 img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
}

.circle-back-1 {
  position: absolute;
  width: 70vw; 
  height: 70vw;
  z-index: 250; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinBack 25s linear infinite; 
}

.circle-back-3 {
  position: absolute;
  width: 60vw; 
  height: 60vw;
  z-index: 100; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  animation: spinBack3 25s linear infinite; }

.circle-back-center {
  position: absolute;
  width: 60vw;
  height: 60vw;
  z-index: 50; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter 10s linear infinite;
}

.circle-back-center-1 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  z-index: 30; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter-1 10s linear infinite;
}
.circle-back-center-1 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.equalizer-circle-inner {
  position: absolute;
  width: 28vw; 
  height: 28vw;
  background-color: transparent;
  z-index: 750; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleInner 20s linear infinite reverse; 
  transform-origin: center;
}

.equalizer-circle-middle {
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: transparent;
  z-index: 550; 
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleMiddle 25s linear infinite; 
  transform-origin: center;
}

.circle-back-center-2 {
  opacity: 0;
}

.circle-sun {
  position: absolute;
  width: 42vw;
  height: 42vw;
  z-index: 600; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  animation: rotateCircleInner 20s linear infinite reverse;
}

.macos-vector {
  position: absolute;
  width: 120vw;
  height: 120vw;
  z-index: 800; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-macos 1.25s step-end forwards; 
  opacity: 0; 
}
.macos-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.steam-vector {
  position: absolute;
  width: 120vw;
  height: 120vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-steam 1.25s step-end forwards 1.25s;
  opacity: 0;
  display: none; 
}

.linux-vector {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  animation: blink-linux 1.25s step-end forwards 2.5s; 
  opacity: 0; 
}
.linux-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.windows-vector {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 801; 
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%); 
  animation: blink-windows 1.25s step-end forwards 3.75s;
  opacity: 0; 
}
.windows-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.macos {
  position: absolute;
  top: -0.6vw;
  left: 20.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.steam {
  position: absolute;
  top: 5.4vw;
  left: 104%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.linux {
  position: absolute;
  top: 44vw;
  left: 97%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;  
}

.windows {
  position: absolute;
  top: 46.8vw;
  left: 4.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}
.inicialisation {
    position: absolute;
    top: 36vw;
    left: 16%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}

.detected {
  position: absolute;
  top: 12vw;
  left: 6%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
  opacity: 0;  
}
.description {
  position: absolute;
  width: 35vw;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 20;
}
}

@media screen and (min-width: 1020px) and (max-width: 1439px) {

  /* merch */

.comics.position-center {
  width: 35vw; 
}

.canon.position-center {
  width: 30vw;
  top: -3%;
}

.envelope.position-center {
  width: 23vw; 
  top: 2%;
}

.position-left {
  top: 23%;
  left: 19%;

}

.position-right {
  top: 15%;
  left: 80%;

}
.button-right {
  top: 45%;
  left: 71%;
}


.button-left {
  top: 45%;
  left: 29%;
}

.choice-button {
  top: 35vw;
  left: 92.5%;
}

.price-protocol {
  position: absolute;
  top: 32vw;
  left: 90%;
  font-size: 0.8em;
}

.information-nalichie-protocol{
  top: 35.5vw;
  left: 91.5%;
}

/* cart */

.product {
  position: absolute;
  top: 14vw;
  left: 65%;
}
.size {
  position: absolute;
  top: 16vw;
  left: 65.3%;
}

.piece {
  position: absolute;
  top: 18vw;
  left: 64%;
}

.price {
  position: absolute;
  top: 20vw;
  left: 64.7%;   
}

.product-name {
  position: absolute;
  top: 14vw;
  left: 89%;
}

.size-name {
  position: absolute;
  top: 16vw;
  left: 88.6%;
}

.piece-name {
  position: absolute;
  top: 18vw;
  left: 87%;
}

.price-name {
  position: absolute;
  top: 20vw;
  left: 88.5%;
}

.product-2 {
  position: absolute;
  top: 23vw;
  left: 65%;
}
.size-2 {
  position: absolute;
  top: 25vw;
  left: 65.5%;
}

.piece-2 {
  position: absolute;
  top: 27vw;
  left: 64.2%;
}

.price-2 {
  position: absolute;
  top: 29vw;
  left: 64.8%;   
}
.product-name-2 {
  position: absolute;
  top: 23vw;
  left: 89.2%;
}

.size-name-2 {
  position: absolute;
  top: 25vw;
  left: 89.2%;
}

.piece-name-2 {
  position: absolute;
  top: 27vw;
  left: 87.2%;
}

.price-name-2 {
  position: absolute;
  top: 29vw;
  left: 88.5%;
}

.product-3 {
  position: absolute;
  top: 32vw;
  left: 65%; 
}
.size-3 {
  position: absolute;
  top: 34vw;
  left: 65.3%;
}

.piece-3 {
  position: absolute;
  top: 36vw;
  left: 64%;
}

.price-3 {
  position: absolute;
  top: 38vw;
  left: 64.6%;  
}

.product-name-3 {
  position: absolute;
  top: 32vw;
  left: 89.5%;
}

.size-name-3 {
  position: absolute;
  top: 34vw;
  left: 89%;
}

.piece-name-3 {
  position: absolute;
  top: 36vw;
  left: 87.4%;
}

.price-name-3 {
  position: absolute;
  top: 38vw;
  left: 89%;
}

.delivery {
  position: absolute;
  top: 41vw;
  left: 66.1%;
}

.taxes {
  position: absolute;
  top: 43vw;
  left: 65.3%;
}

.total {
opacity: 0; 
}

.product-img {
  width: 15vw;
  top: 24%;
  left: 25%;

}

.product-2-img {
  position: absolute;
  width: 11vw;
  top: 43%;
  left: 25.5%;

}

.product-3-img {
  position: absolute;
  width: 13vw;
  top: 67%;
  left: 24.5%;
}

.delivery-amount {
  position: absolute;
  top: 41vw;
  left: 88%;
}

.taxes-amount {
  position: absolute;
  top: 43vw;
  left: 90.3%;
}

.total-amount {
  position: absolute;
  top: 46vw;
  left: 68%;
}

.buy-button {
  width: 10vw;
  top: 91%;
  left: 68%;
}

/* 404 */

.nf-img{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 40vw; 
}

.nf-img-2{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 40vw; 
}

.sboy {
  position: absolute;
  top: 5vw;
  left: 50%;
}
.comment {
  position: absolute;
  top: 40vw;
  left: 50%;
}

.gradient {
  opacity: 0;
  width: 10vw; 
}
.gradient img {
  opacity: 0;
}

.cross {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 48vw; 
}

.cross-2 {
  position: absolute;
  top: 84%;
  left: 50%;
  width: 48vw; 
}

/* game */

.equalizer-circle {
  position: absolute;
  width: 31vw;
  height: 31vw;
  z-index: 1000;
  top: 55%;
  left: 50%;
}

.circle-back-2 {
  position: absolute;
  width: 32vw;
  height: 32vw;
  z-index: 500; 
  top: 55%;
  left: 50%;
}

.circle-back-1 {
  position: absolute;
  width: 43vw; 
  height: 43vw;
  z-index: 250; 
  top: 55%;
  left: 50%;
}

.circle-back-3 {
  position: absolute;
  width: 25vw; 
  height: 25vw;
  top: 55%;
  left: 50%;
 }

.circle-back-center {
  position: absolute;
  width: 27vw;
  height: 27vw;
  z-index: 50; 
  top: 55%;
  left: 50%;
}

.circle-back-center-1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: 55%;
  left: 50%;
}

.equalizer-circle-middle {
  position: absolute;
  width: 21vw;
  height: 21vw;
  top: 40%;
  left: 50%;
}

.circle-back-center-2 {
  opacity: 0;
}

.circle-sun {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 55%;
  left: 50%;
}

.vectors-1 {
  position: absolute;
  width: 47vw;
  height: 47vw;
  top: 55%;
  left: 52%;
}

.vectors-2 {
  position: absolute;
  width: 47vw;
  height: 47vw;
  top: 55%;
  left: 52%; 
}

.vectors-3 {
  position: absolute;
  width: 47vw;
  height: 47vw;
  top: 55%;
  left: 52%;
}

.macos-vector {
  position: absolute;
  width: 45vw;
  height: 45vw;
  z-index: 800; 
  top: 50%;
  left: 53%;

}

.steam-vector {
  position: absolute;
  width: 45vw;
  height: 45vw;
  z-index: 800; 
  top: 50%;
  left: 53%;
}

.linux-vector {
  position: absolute;
  width: 45vw;
  height: 45vw;
  z-index: 800; 
  top: 50%;
  left: 53%; 
}

.windows-vector {
  position: absolute;
  width: 45vw;
  height: 45vw;
  z-index: 800; 
  top: 50%;
  left: 53%;
}

.macos {
opacity: 0;
}

.steam {
opacity: 0;
}

.linux {
opacity: 0; 
}

.windows {
opacity: 0;
}

.detected {
  top: 12vw;
  left: 7%;  
}

}

  /* десктопы */

@media screen and (min-width: 1441px) {

  /* 404 */

.nf-img{
  position: absolute;
  top: 15%;
  left: 50%;
  width: 35vw; 
}

.nf-img-2{
  position: absolute;
  top: 15%;
  left: 50%;
  width: 35vw; 
}

.sboy {
  position: absolute;
  top: 5vw;
  left: 50%;
}
.comment {
  position: absolute;
  top: 40vw;
  left: 50%;
}

.gradient {
  opacity: 0;
  width: 10vw; 
}
.gradient img {
  opacity: 0;
}

.cross {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 48vw; 
}

.cross-2 {
  position: absolute;
  top: 84%;
  left: 50%;
  width: 48vw; 
}

.logo {
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 35vw; 
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}
.nav-graph {
    position: absolute;
    top: 0.2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 10vw; 
}

.nav-graph img {
    width: 100%;
    height: auto;
    display: block;
}

.navigation-bar {
    position: relative;
    max-width: 43vw;
    width: 100%;
    height: 12%;
    top: 2.5vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 100;
}

.cart {
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
     text-decoration: none;
}

.pofp {
    position: absolute;
    top: 10vw;
    left: 8%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100;
}

.year {
    position: absolute;
    top: 10vw;
    left: 96%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}
.navigation-bar-merch {
    position: relative;
    max-width: 43vw;
    width: 100%;
    height: 12vh;
    top: 2.5vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 1;
    animation: slideLeft 2s ease-in-out forwards 0.5s;
}

@keyframes slideLeft {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(-92.5%);
  }
}
.logo-long {
    position: absolute;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 95vw; 
}

.logo-long img {
    width: 100%;
    height: auto;
    display: block;
}

.number {
  position: absolute;
  top: 10vw;
  left: 3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.amount {
  position: absolute;
  top: 10vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}

.store {
  position: absolute;
  top: 10vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.information-protocol {
  position: absolute;
  top: 15vw;
  left: 5.8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.information-nalichie-protocol{
  position: absolute;
  top: 35vw;
  left: 5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.warning {
  position: absolute;
  top: 20vw;
  left: 93.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.object-protocol {
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-protocol {
  position: absolute;
  top: 35vw;
  left: 90.4%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;
}

.choice-button {
  position: absolute;
  top: 35vw;
  left: 92.5%;
  transform: translateX(-50%);
  z-index: 100;
  width: 8vw; 
}
.choice-button img {
  width: 100%;
  height: auto;
  display: block;
}
.choice-button:active {
  animation: clickScale 0.2s ease-in-out;
}

@keyframes clickScale {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.hidden {
  display: none; 
}
.carousel {
  position: relative;
  max-width: 45vw;
  width: 100%;
  height: 55vh;
  top: 5vw;
  margin: 0 auto;
  z-index: 10000;
}

.button-right {
  position: absolute;
  top: 70%;
  left: 100%;
  transform: translateX(-50%);
  z-index: 150;
  width: 1.3vw; 
}
.button-right img {
  width: 100%;
  height: auto;
  display: block;
}

.button-left {
  position: absolute;
  top: 70%;
  left: 0%;
  transform: translateX(-50%);
  z-index: 150;
  width: 1.3vw; 
}
.button-left img {
  width: 100%;
  height: auto;
  display: block;
}


.comics, .canon, .envelope {
  position: absolute;
  transition: all 0.5s ease; 
  z-index: 90;
}

.comics img, .canon img, .envelope img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}


.position-center {
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


.comics.position-center {
  width: 45vw; 
  top: 4%;
}

.canon.position-center {
  width: 35vw;
  top: 5%;
}

.envelope.position-center {
  width: 25vw; 
  top: 15%;
}

.position-left {
  top: 30%;
  left: 14%;
  transform: translateX(-50%);
  z-index: 90;
  width: 16vw; 
}

.position-right {
  top: 23%;
  left: 85%;
  transform: translateX(-50%);
  z-index: 90;
  width: 14vw; 
}

.carousel .comics,
.carousel .canon,
.carousel .envelope {
  transition: transform 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, z-index 0s;
}

/* cart */

.navigation-bar-cart {
    position: relative;
    max-width: 45vw;
    width: 100%;
    height: 12vh;
    top: 2.5vw;
    margin: 0 auto;
    color: #ffffff;
    z-index: 1;
    animation: slideright 2s ease-in-out forwards 0.5s;
}
@keyframes slideright {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(88%);
  }
}
.cart-1 {
  position: absolute;
  top: 10vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}
.position {
  position: absolute;
  top: 10vw;
  left: 4.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}
.info-text {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}
.product {
  position: absolute;
  top: 12vw;
  left: 65%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size {
  position: absolute;
  top: 13.5vw;
  left: 65.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece {
  position: absolute;
  top: 15vw;
  left: 64.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price {
  position: absolute;
  top: 16.5vw;
  left: 64.8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}

.product-name {
  position: absolute;
  top: 12vw;
  left: 89%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name {
  position: absolute;
  top: 13.5vw;
  left: 88.7%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name {
  position: absolute;
  top: 15vw;
  left: 87.7%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name {
  position: absolute;
  top: 16.5vw;
  left: 88.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.product-2 {
  position: absolute;
  top: 20vw;
  left: 65%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size-2 {
  position: absolute;
  top: 21.5vw;
  left: 65.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece-2 {
  position: absolute;
  top: 23vw;
  left: 64.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price-2 {
  position: absolute;
  top: 24.5vw;
  left: 64.8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}
.product-name-2 {
  position: absolute;
  top: 20vw;
  left: 89.2%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name-2 {
  position: absolute;
  top: 21.5vw;
  left: 89.2%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name-2 {
  position: absolute;
  top: 23vw;
  left: 87.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name-2 {
  position: absolute;
  top: 24.5vw;
  left: 88.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.product-3 {
  position: absolute;
  top: 28vw;
  left: 65%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.size-3 {
  position: absolute;
  top: 29.5vw;
  left: 65.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.piece-3 {
  position: absolute;
  top: 31vw;
  left: 64.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.price-3 {
  position: absolute;
  top: 32.5vw;
  left: 64.8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100;   
}
.product-name-3 {
  position: absolute;
  top: 27.5vw;
  left: 89.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.size-name-3 {
  position: absolute;
  top: 29vw;
  left: 89%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.piece-name-3 {
  position: absolute;
  top: 30.5vw;
  left: 87.9%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.price-name-3 {
  position: absolute;
  top: 32vw;
  left: 89%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.delivery {
  position: absolute;
  top: 35.5vw;
  left: 65.7%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.taxes {
  position: absolute;
  top: 37vw;
  left: 65.3%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.total {
  position: absolute;
  top: 40vw;
  left: 65.3%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}

.product-img {
  position: absolute;
  z-index: 1000;
  width: 17vw;
  top: 20%;
  left: 25%;
  transform: translateX(-50%);

}
.product-img img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.product-2-img {
  position: absolute;
  z-index: 1000;
  width: 9vw;
  top: 43%;
  left: 23%;
  transform: translateX(-50%) rotate(90deg);

}
.product-2-img img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.product-3-img {
  position: absolute;
  z-index: 1000;
  width: 12vw;
  top: 64%;
  left: 23%;
  transform: translateX(-50%);

}
.product-3-img img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.delivery-amount {
  position: absolute;
  top: 35.5vw;
  left: 88%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.taxes-amount {
  position: absolute;
  top: 37vw;
  left: 89.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100; 
}

.total-amount {
  position: absolute;
  top: 40.2vw;
  left: 91.5%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  z-index: 100; 
}
.buy-button {
  position: absolute;
  z-index: 1000;
  width: 8vw;
  top: 84%;
  left: 91.5%;
  transform: translateX(-50%);
  animation: clickScale 0.2s ease-in-out;
}
/* game */

.inicialisation {
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}
.dot {
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
}

.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}

.detected {
  position: absolute;
  top: 10vw;
  left: 6%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}
.pofp-low {
  position: absolute;
  bottom: 2vw;
  left: 8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}
.year-low {
  position: absolute;
  bottom: 2vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}
/* game */

  .game-screen {
   background-color: #000;
   color: #fff;
   min-height: 100vh;
}

body.game-page .game {
  color: white;
  text-decoration: none;
}
.inicialisation {
    position: absolute;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    z-index: 100; 
}
.dot {
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
}

.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}

.detected {
  position: absolute;
  top: 12vw;
  left: 6%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}
.pofp-low {
  position: absolute;
  bottom: 2vw;
  left: 8%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;
}
.year-low {
  position: absolute;
  bottom: 2vw;
  left: 96%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  z-index: 100;  
}


.equalizer-circle {
  position: absolute;
  width: 21vw;
  height: 21vw;
  background-color: transparent;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircle 25s linear infinite;
  transform-origin: center;
}

.equalizer-dot {
  position: absolute;
  width: 0.10vw; 
  height: 0.10vw; 
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.circle-back-2 {
  position: absolute;
  width: 22vw;
  height: 22vw;
  z-index: 500; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 25s linear infinite;
}

.circle-back-2 img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
}

.circle-back-1 {
  position: absolute;
  width: 35vw; 
  height: 35vw;
  z-index: 250; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinBack 25s linear infinite; 
}

.circle-back-3 {
  position: absolute;
  width: 12vw; 
  height: 12vw;
  z-index: 100; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  animation: spinBack3 25s linear infinite; }


.circle-back-center {
  position: absolute;
  width: 12vw;
  height: 12vw;
  z-index: 50; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter 10s linear infinite;
}

.circle-back-center-1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  z-index: 30; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spincenter-1 10s linear infinite;
}

.equalizer-circle-inner {
  position: absolute;
  width: 9.5vw; 
  height: 9.5vw;
  background-color: transparent;
  z-index: 750; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleInner 20s linear infinite reverse; 
  transform-origin: center;
}


.equalizer-circle-middle {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: transparent;
  z-index: 550; 
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateCircleMiddle 25s linear infinite; 
  transform-origin: center;
}

.circle-back-center-2 {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  z-index: 20; 
  top: 50%;
  left: 50%;
  opacity: 0.9;
  transform: translate(-50%, -50%) rotate(-90deg);
  animation: spincenter-1 10s linear infinite;
  opacity: 0;
}

.circle-sun {
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: 600; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  animation: rotateCircleInner 20s linear infinite reverse;
}
.circle-sun img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.vectors-1 {
  position: absolute;
  width: 32vw;
  height: 32vw;
  z-index: 680; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out;
}

.vectors-2 {
  position: absolute;
  width: 32vw;
  height: 32vw;
  z-index: 690; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out 1s; 
}

.vectors-3 {
  position: absolute;
  width: 32vw;
  height: 32vw;
  z-index: 700; 
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 5s infinite ease-in-out 3s; 
}
.vectors-3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}

.macos-vector {
  position: absolute;
  width: 40vw;
  height: 40vw;
  z-index: 800; 
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%); 
  animation: blink-macos 1.25s step-end forwards; 
  opacity: 0; 
}
.macos-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.steam-vector {
  position: absolute;
  width: 40vw;
  height: 40vw;
  z-index: 801; 
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%); 
  animation: blink-steam 1.25s step-end forwards 1.25s;
  opacity: 0; 
}
.steam-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.linux-vector {
  position: absolute;
  width: 40vw;
  height: 40vw;
  z-index: 801; 
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%);
  animation: blink-linux 1.25s step-end forwards 2.5s; 
  opacity: 0; 
}
.linux-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.windows-vector {
  position: absolute;
  width: 40vw;
  height: 40vw;
  z-index: 801; 
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%); 
  animation: blink-windows 1.25s step-end forwards 3.75s;
  opacity: 0; 
}
.windows-vector img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.macos {
  position: absolute;
  top: -0.6vw;
  left: 20.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.steam {
  position: absolute;
  top: 5.4vw;
  left: 104%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}

.linux {
  position: absolute;
  top: 44vw;
  left: 97%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100;  
}

.windows {
  position: absolute;
  top: 46.8vw;
  left: 4.5%;
  transform: translateX(-50%);
  font-size: 1.1em;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  z-index: 100; 
}
.merch, .game, .cart {
    position: absolute;
    font-size: 0.8vw;
    color: #888888;
    text-align: left;
    font-weight: 700;
    z-index: 100;
    white-space: nowrap;
}
.scrollpls {
    top: 9vw;
}
  }

